<!doctype html>
<html>
   <body>
   
      <form action = "/result" method = "POST">
         <p>Name <input type = "text" name = "Name" /></p>
	 <p>University <input type = "text" name = "University" /></p>
         <p>Student Number <input type = "text" name = "Student Number" /></p>
         <p>Gender </p>
            <input type = "radio" name = "Gender" value = "male" /> Male
            <input type = "radio" name = "Gender" value = "female" /> Female</p>
         <p>Major <input type = "text" name = "Major" /></p>
         <p>Programming Languages</p>
            <input type = "checkbox" name = "Programming Languages" value = "Python"/> Python
            <input type = "checkbox" name = "Programming Languages" value = "Java"/> Java
            <input type = "checkbox" name = "Programming Languages" value = "HTML"/> HTML
            <input type = "checkbox" name = "Programming Languages" value = "C++"/> C++ </p>

         <p><input type = "submit" value = "submit" /></p>
      </form>
      
   </body>
</html>
